<h1><%= t('resources.actions.edit', resource: Book.model_name.human) %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
   <%= link_to t('resources.actions.show', resource: Book.model_name.human), book_path(@book) %> |
   <%= link_to t('resources.actions.back_to_index', resource: Book.model_name.human), books_path %>
</nav>
